*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1100px;
	height: 600px;
	border:1px solid red;
	margin: 100px auto;
}

nav{
	background: green;
	width: 100%;
	padding: 15px 0px;
	text-align: center;
	/*overflow:hidden;*/
	/*transition: 1s;*/
	/*height: 0px;*/

}

nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
}

nav ul li a{
	display: inline-block;
	padding: 8px 50px;
	background: red;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
/*.container:hover nav{
	height: 40px;
	padding: 15px 0px;
}
*/
nav ul li{
	position: relative;
}
nav ul li  ul{
	/*display: none;*/
	width: 100%;
	background: gray;
	position: absolute;
	top: 100%;
	left: 0;
	height: 0px;
	overflow: hidden;
	transition: 0.4s;
}

nav ul li  ul li a{
	background: none;
}
nav ul li  ul li{
	display: block;
}
/*.skill:hover .skill .sub-menu{
	display: block;
} 
*/

nav ul li:hover ul{
	height: 130px;
}